@import 'partial';
/* main css file which loads after bootstrap
 * this file is to be changed as desired
 */
$light-blue: #498fcc;
$grey: #636363;
$white: #ffffff;

html {
  font-size: 100%; // 1rem is 16px;
}

body {
  font-size: 1rem;
  background: $white;
}

img {
  border: 0;
}

.navbar-light {
  background: $white;

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      box-shadow: none;
    }

    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
        background-size: 70%;
        opacity: 0.55;
      }
    }
  }

  .navbar-collapse {
    background-color: $light-blue;

    @media (min-width:992px) {
      background-color: $white;
    }

    .navbar-nav {
      font-weight: bold;
  
      .nav-item {
        padding-right: 1rem;

        .nav-link {
          color: $white;
          text-align: center;

          @media (min-width:992px) {
            color: $grey;
            text-align: left;
          }
        }
      }
    }
  }
}

/* main {
  padding: 3.375rem 0;
} */

.fix-bg {
  background-attachment: fixed;
  background-image: url(../img/banner.jpg);
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: calc(100% * 1.4);
  height: 100vw;
  width: 100%;

  @media  (min-width:500px) {
    background-size: 100%;
    height: 70vw;
  }

  @media  (min-width:768px) {
    background-position: center top;
    height: 60vw;
  }

  @media (min-width:992px) {
    height: 100vh;
  }
}

.slider-content {
  max-width: 55rem;

  img {
    width: 100%;
  }
}

footer {
  background: $light-blue;
  a {
    color: white;
    &:hover {
      color: $grey;
    }
  }
}